@import "tailwindcss";

@font-face{
    font-family: "Work Sans";
    src: url("./fonts/work/WorkSans-VariableFont_wght.ttf") format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Mono Space";
    src: url("./fonts/monoSpace/SpaceMono-Regular.ttf") format('opentype');
    font-style: normal;
    font-display: swap;
}

@theme{
    --color-background: #2B2B2B;
    --color-backgroundSecundary: #3B3B3B;
    --color-Text: #FFFFFF;
    --color-callToAction: #A259FF;
    --color-bgHover: #c79ffc;
    --color-label: #858584;

    --font-display: "Work Sans", "sans-serif";
    --font-monoSpace: "Mono Space", "sans-serif";

    --font-weight-semiBold: 100;
}