@import "tailwindcss";

body{
    margin: 0;
    
}

@font-face{
    font-family: "Work Sans";
    src: url("./fonts/work/WorkSans-VariableFont_wght.ttf") format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Mono Space";
    src: url("./fonts/monoSpace/SpaceMono-Regular.ttf") format('opentype');
    font-style: normal;
    font-display: swap;
}

@theme{
    --color-background: #2B2B2B;
    --color-backgroundSecundary: #3B3B3B;
    --color-Text: #FFFFFF;
    --color-Textsecun: #858584;
    --color-callToAction: #A259FF;
    --color-bgHover: #c79ffc;
    --color-label: #858584;
    --color-text2: #CCCCCC;
    --color-gradiente1: (162, 89, 255, 0);

    --font-display: "Work Sans", "sans-serif";
    --font-monoSpace: "Mono Space", "sans-serif";
    --font-weight-semiBold: 100;

    --breakpoint-xx: 54.375rem;
}